<?xml version="1.0" encoding="UTF-8"?><flex-config>
<includes append="true">
<symbol>au.com.infomedia.hywV6.view.basicComponent.columnGrids.CatalogueCodeColumn</symbol>
<symbol>au.com.infomedia.hywV6.view.component.renderers.ITCRenderer</symbol>
<symbol>au.com.infomedia.hywV6.view.component.renderers.PartNumberRendererExt</symbol>
<symbol>au.com.infomedia.hywV6.view.component.renderers.SupersessionRendererExt</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.BuildDateColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.CalloutColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.CatalogueColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.DateColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.DeleteColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.DescriptionColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.GotoColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.GotoColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.GroupColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.NotesColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.NotesColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.PartNumberColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.PartNumberColumnSorting</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.PartNumberSupersessionColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.PriceColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.PriceColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.QtyColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.QtyColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.QtySupersessionColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.RestrictionsColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.SelectColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.SelectColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.SubTotalColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.SupersessionColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.columnGrids.TypeColumnAdvanced</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.IfmAdvancedDataGridColumn</symbol>
<symbol>au.com.infomedia.V6.view.basicComponent.IfmDataGridColumn</symbol>
<symbol>au.com.infomedia.V6.view.component.renderers.HyperlinkTextRenderer</symbol>
<symbol>mx.collections.ArrayCollection</symbol>
<symbol>org.springextensions.actionscript.userextensions.flex.ClassRendererFactory</symbol>
</includes>
</flex-config>
