html
{
	font-size: 1em;
}
body
{
	font-size: 1em;
}
p
{
	font-size: 1em;
}
table
{
	font-size: 1em;
}
td
{
	font-size: 1em;
}
form
{
	font-size: 1em;
}
img
{
	font-size: 1em;
}
h1
{
	font-size: 1em;
}
h2
{
	font-size: 1em;
}
h3
{
	font-size: 1em;
}
h4
{
	font-size: 1em;
}
h5
{
	font-size: 1em;
}
h6
{
	font-size: 1em;
}
input
{
	font-size: 1.2em;
}
select
{
	font-size: 1.2em;
}
body
{
	font-size: 70%;
	background-color: #ffffff;
}
html
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
body
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
div
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
p
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
table
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
td
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
form
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
img
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h1
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h2
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h3
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h4
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h5
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
h6
{
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
}
input
{
/*
	border-right: transparent 0px;
	padding-right: 0px;
	background-position: left top;
	border-top: transparent 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	border-left: transparent 0px;
	padding-top: 0px;
	border-bottom: transparent 0px;
	background-repeat: no-repeat;
	font-family: verdana,tahoma,segoe,sans-serif;
*/
}
p
{
	line-height: 1.5em;
}
td
{
	line-height: 1.5em;
}
h1
{
	line-height: 1.2em;
}
h2
{
	line-height: 1.2em;
}
h3
{
	line-height: 1.2em;
}
h4
{
	line-height: 1.2em;
}
h5
{
	line-height: 1.2em;
}
h6
{
	line-height: 1.2em;
}
a
{
	color: #4e7dc2;
	text-decoration: underline;
}
a:visited
{
	color: #4e7dc2;
	text-decoration: underline;
}
a:active
{
	color: #4e7dc2;
	text-decoration: underline;
}
a:hover
{
	color: #4e7dc2;
	text-decoration: underline;
}
ul
{
	padding-right: 0px;
	padding-left: 25px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
}
li
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	line-height: 1.5em;
}


#page
{
	margin-left: auto;
	width: 970px;
	margin-right: auto;
	top: 0px;
	line-height: 1.5em;
}
#pageCnt
{
	position: relative;
}
