a.realURL:link {color: blue;text-decoration:none}
a.realURL:visited {color: blue;text-decoration:none}
a.realURL:hover {color: red;text-decoration:none}
a.realURL:active {color: red;text-decoration:none}